@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.ruling {
  background-position: bottom;
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;

  // Overlay
  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($black, 0.6);
    background: linear-gradient(
      180deg,
      transparent 30%,
      rgba($black, 0.8) 100%
    );
  }

  &__majorityIndicator {
    position: absolute;
    top: -3em;
    left: -45px;
    height: 20px;
  }

  &__workingInfo {
    position: relative;
    font-size: 0.6em;

    .workingInfo {
      &__time {
        font-weight: bold;
        margin-right: 0.5em;
      }
    }
  }

  &__content {
    @include light-font;
    padding: 0 30px 100px 45px;
    align-self: flex-end;
    h3 {
      margin: 0;
      font-size: 2em;
      font-weight: bold;
    }
    z-index: 1;
  }

  &__actions {
    height: 30px;
    display: flex;
    align-items: center;
    > * {
      margin-right: 10px;
    }
    .action {
      &__submit {
        height: 40px;
      }
    }
  }

  &__summary {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  @media (min-width: $device-md) {
    height: 400px;
  }

  @media (min-width: $device-lg) {
    height: 550px;
    font-size: 1.5em;

    &__content {
      padding-right: 100px;
    }
  }

  @media (min-width: $device-xl) {
    height: 650px;

    &__content {
      padding-right: 150px;
    }
  }
}
