// Colors
$white: #ffffff;
$primary: #1cbbb4;
$secondary: #ffad1d;
$gray: #333333;
$black: #000000;

// Spacing
$spacing: 8px;
$max-width: 1282px;

// Default breakpoints
$device-xs: 480px;
$device-sm: 600px;
$device-md: 768px;
$device-lg: 960px;
$device-xl: 1280px;
$device-xxl: 1920px;